In [2]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('staff.csv')

In [4]:
df.head()

,id,name,phone_number,role,location,salary,username,password,direct_reports
0,1,Evan Dennis,+1-636-793-6632,employee,Hartford,86509,evand,password,[]
1,2,Shannon Park,001-279-207-1722,employee,St. Paul,94499,shannonp,password,[]
2,3,Manuel Robinson,421.602.0450,employee,Hartford,96078,manuelr,password,[]
3,4,Christine Allison,871-601-1957,employee,St. Paul,93781,christinea,password,[]
4,5,Laura Rice,001-890-821-3258,employee,Hartford,86605,laurar,password,[]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import accuracy_score
import pickle

# sk.DecisionTreeClassifier 
X = df[['location','role']]
X_encoded = pd.get_dummies(X)
y = df['salary'].to_frame()

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=24)

model = linear_model.LinearRegression()
model.fit(X_train, y_train)
with open('trained_model.pkl', 'wb') as f:
    pickle.dump(model, f)
y_pred = model.predict(X_test)
print(y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

[[ 94464.]
 [ 94464.]
 [107328.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [140928.]
 [ 94464.]
 [ 89536.]
 [107328.]
 [107328.]
 [136000.]
 [136000.]
 [ 89536.]
 [107328.]
 [107328.]
 [107328.]
 [ 94464.]
 [ 94464.]
 [102400.]
 [ 94464.]
 [107328.]
 [ 89536.]
 [102400.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [107328.]
 [ 89536.]
 [ 89536.]
 [136000.]
 [136000.]
 [ 89536.]
 [102400.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [107328.]
 [ 94464.]
 [ 94464.]
 [ 94464.]
 [102400.]
 [140928.]
 [140928.]
 [136000.]
 [107328.]
 [107328.]
 [102400.]
 [ 89536.]
 [107328.]
 [140928.]
 [136000.]
 [ 89536.]
 [ 94464.]
 [102400.]
 [140928.]
 [ 89536.]
 [ 89536.]
 [107328.]
 [140928.]
 [ 94464.]
 [ 94464.]
 [107328.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [136000.]
 [140928.]
 [ 89536.]
 [136000.]
 [ 89536.]
 [107328.]
 [ 94464.]
 [140928.]
 [102400.]
 [ 89536.]
 [136000.]
 [ 94464.]
 [ 94464.]
 [ 89536.]
 [ 89536.]
 [ 89536.]
 [ 89536.]
 [ 89536.]
 [ 94464.]
 [136000.]
 [ 89536.]
 [107328.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [140928.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [107328.]
 [102400.]
 [ 94464.]
 [ 94464.]
 [ 94464.]
 [102400.]
 [ 89536.]
 [ 94464.]
 [102400.]
 [136000.]
 [ 94464.]
 [107328.]
 [136000.]
 [ 94464.]
 [ 89536.]
 [102400.]
 [140928.]
 [140928.]
 [ 89536.]
 [140928.]
 [ 89536.]
 [136000.]
 [ 89536.]
 [ 94464.]
 [102400.]
 [136000.]
 [ 94464.]
 [140928.]
 [ 89536.]
 [ 89536.]
 [ 94464.]
 [ 94464.]
 [102400.]
 [ 94464.]
 [136000.]
 [102400.]
 [ 94464.]
 [ 94464.]
 [140928.]
 [ 94464.]
 [ 94464.]
 [ 89536.]
 [107328.]
 [ 94464.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [102400.]
 [107328.]
 [136000.]
 [ 94464.]
 [ 94464.]
 [136000.]
 [ 89536.]
 [ 89536.]
 [ 94464.]
 [ 89536.]
 [140928.]
 [136000.]
 [ 94464.]
 [ 94464.]
 [136000.]
 [ 89536.]
 [ 94464.]
 [ 94464.]
 [ 89536.]
 [ 89536.]
 [136000.]
 [102400.]
 [102400.]
 [140928.]
 [ 89536.]
 [136000.]
 [ 89536.]
 [ 89536.]
 [102400.]
 [ 94464.]
 [ 94464.]
 [ 94464.]
 [107328.]
 [ 94464.]
 [107328.]
 [ 94464.]
 [107328.]
 [ 89536.]
 [ 89536.]
 [ 94464.]
 [ 94464.]
 [140928.]
 [ 89536.]
 [ 89536.]
 [ 94464.]
 [102400.]
 [ 94464.]
 [140928.]
 [107328.]
 [ 89536.]]
0.0